# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db
desktop.ini

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# ==========================
# Virtual Environments
# ==========================
venv/
.venv/
env/

# ==========================
# Airflow
# ==========================
orchestration/airflow_docker/logs/*
!orchestration/airflow_docker/logs/.gitkeep

# ==========================
# Docker
# ==========================
*.log

# ==========================
# Environment Files
# ==========================
.env.local
.env.*.local

# ==========================
# Temporary
# ==========================
*.tmp
*.bak



orchestration/airflow_docker/config/airflow.cfg